/**
 * WordPress Kerala Photo Festival Entries 
 * Ver: 1.0
 * Author: Ajith
 * URL: https://ajithrn.com
 * SASS
 */

// Define a mixin for media queries
@mixin device-size($media) {
  @if $media == phone {
    @media (max-width: 419px) {
      @content;
    }
  } @else if $media == mobile-landscape {
    @media (min-width: 420px) {
      @content;
    }
  } @else if $media == tablet-portrait {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $media == tablet-landscape {
    @media (min-width: 980px) {
      @content;
    }
  } @else if $media == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// box shadow generator
@mixin box-shadow-generator($h-shadow, $v-shadow, $blur, $spread, $color, $inset: false) {
  $shadow-inset: if($inset, 'inset', '');
  box-shadow: $h-shadow $v-shadow $blur $spread $color $shadow-inset;
}

// button styles
@mixin button-style( $color, $background, $hover-color, $font-size, $padding, $border-radius) {
  color: $color;
  background-color: $background;
  font-size: $font-size;
  padding: $padding;
  border-radius: $border-radius;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-color;
  }
}

// common styles

body,
html {
  margin: 0;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  background-color: #f2f3f5;
  color: #333;
}

img {
  max-width: 100%;
}
.btn {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
}
.btn-register {
  @include button-style(#ffffff, #314652, #1e2a31, 0.7rem, 1em 1.5em, 4px);
  @include device-size(mobile-landscape) {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
  }
}

.header {
  background-color: #baecfe;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 30px 15px;
  @include device-size(tablet-portrait) {
    padding: 50px 30px;
  }
}

.section-wrapper {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 30px;
  @include box-shadow-generator(2px, 2px, 6px, -2, rgba(0, 0, 0, 0.3));
  @include device-size(tablet-portrait) {
    padding: 30px 20px;
  }
}

.section-heading {
  h3 {
    color: #404040;
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 20px;
    @include device-size(tablet-landscape) {
      font-size: 1.4rem;
      padding-bottom: 10px;
    }
  }
}
.hero {
  text-align: center;
  margin-bottom: 30px;

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1.3;
    font-family: 'Josefin Sans', sans-serif;
    color: #151c2a;
    span {
      color: #fe7676;
    }
    @include device-size(mobile-landscape) {
      font-size: 2.3rem;
    }
    @include device-size(tablet-landscape) {
      font-size: 3rem;
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
    padding-bottom: 15px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    @include device-size(tablet-portrait) {
      font-size: 1.3rem;
    }
    #total-photos {
      font-weight: 500;
      color: #e54c54;
    }
  }
  .buttons {
    display: block;
  }
}

.app {
  text-align: center;
}

.footer {
  background-color: #0a2540;
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  font-size: 13px;
  .build {
    display: none;
    font-size: 12px;
    font-weight: 600;
    color: lighten(#0a2540, 20%);
    a {
      color: lighten(#0a2540, 25%);
      text-decoration: none;
      &:hover {
        color: lighten(#0a2540, 40%);
        border-bottom: 1px dotted #ffffff;
      }
    }
  }
  .source {
    @extend .build;
    display: block;
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  padding: 15px 25px;
  &-item {
    @include box-shadow-generator(2px, 2px, 6px, 0, rgba(0, 0, 0, 0.6));
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: auto;
    @include device-size(tablet-portrait) {
      width: 47%;
    }
    @include device-size(tablet-landscape) {
      width: 31%;
    }
    @include device-size(desktop) {
      width: 23%;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .item-description {
      border-radius: 8px;
      padding: 15px;
      background-color: #e6ddf3;
      margin-top: -10px;
      padding-bottom: 30px;
      .caption {
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
        color: #151c2a;
        padding-bottom: 15px;
      }

      .view-button {
        text-decoration: none;
        margin-top: 10px;
        font-weight: 500;
        text-align: center;
        @include button-style(#ffffff,#fe7676,#e9555c,0.85rem,0.7em 1.5em,4px );
      }
    }
  }
}

/** Loading Animation */

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loader {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  margin-top: 40px;
	div {
		animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		transform-origin: 40px 40px;
		&:after {
			content: " ";
			display: block;
			position: absolute;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background: #000;
			margin: -4px 0 0 -4px;
		}
		&:nth-child(1) {
			animation-delay: -0.036s;
			&:after {
				top: 63px;
				left: 63px;
			}
		}
		&:nth-child(2) {
			animation-delay: -0.072s;
			&:after {
				top: 68px;
				left: 56px;
			}
		}
		&:nth-child(3) {
			animation-delay: -0.108s;
			&:after {
				top: 71px;
				left: 48px;
			}
		}
		&:nth-child(4) {
			animation-delay: -0.144s;
			&:after {
				top: 72px;
				left: 40px;
			}
		}
		&:nth-child(5) {
			animation-delay: -0.18s;
			&:after {
				top: 71px;
				left: 32px;
			}
		}
		&:nth-child(6) {
			animation-delay: -0.216s;
			&:after {
				top: 68px;
				left: 24px;
			}
		}
		&:nth-child(7) {
			animation-delay: -0.252s;
			&:after {
				top: 63px;
				left: 17px;
			}
		}
		&:nth-child(8) {
			animation-delay: -0.288s;
			&:after {
				top: 56px;
				left: 12px;
			}
		}
	}
}


/* User Table */
.leaderboard {
  padding: 0 30px;
  .total-photos, .total-users {
    color: #e54c54;
  }
  .users {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    &:after {
      content: "";
      flex: auto;
    }
    .user {
      position: relative;
      display: flex;
      align-items: center;
      text-align: start;
      align-self: stretch;
      background: #ede5fa;     
      padding: 20px;  
      border-radius: 6px;
      @include box-shadow-generator(0px, 0px, 10px, 0, rgba(0, 0, 0, 0.6));
      width: 100%; 
      @include device-size(tablet-landscape) {
        width: 43%;
      }
      @include device-size(desktop) {
        width: 27%;
      }
      .user-info {
        width: 90%;
        img {
          max-width: 70px;
          border-radius: 96px;
          @include box-shadow-generator(2px, 2px, 6px, 0, rgba(0, 0, 0, 0.6));
          float: left; 
          margin-right: 20px;
        }
        h4 {
          color: #364566;
          font-size: 1.2rem;
          margin: 0;
          padding-bottom: 5px;
        }
        .profile {
          padding-bottom: 5px;
        }
        .count {
          span {
            font-size: 1.2em;
            font-weight: 600;
          }
        }
        a {
          color: #fe7676;
          text-decoration: none;
          font-weight: 500;
          &:hover {
            color: #e54c54;
          }
        }
      }
      .user-rank {        
        position: absolute;
        right: 15px;
        color: #a38ec2;
        opacity: 0.15;
        font-size:70px;
        font-weight: 800;
      }
    }
  } 
}